@page "/"


<div class="container">
    <div class="center">
        <a href="Smarttechnology" class="btn homeknop btn-sep icon-info">Smart Technology</a>
    </div>
</div>

<div class="container">
    <div class="center">
        <a href="/Smartstart" class="btn homeknop btn-sep icon-theatre">Smart Start</a>
    </div>
</div>

<div class="container">
    <div class="center">
        <a href="/Smartconnection" class="btn homeknop btn-sep icon-music">Smart Connection</a>
    </div>
</div>

<div class="container">
    <div class="center">
        <a href="/Smartbusiness" class="btn homeknop btn-sep icon-music">Smart Business</a>
    </div>
</div>

<div class="container">
    <div class="center">
        <a href="/Smartconnectionhw" class="btn homeknop btn-sep icon-music">Smart Business</a>
    </div>
</div>



<SurveyPrompt Title="Do you like my portfolio? Let me know!" />
