@page "/Smart Start"
@{
}
<h1>Portfolio van Stan Bakker</h1>
<p>Hier wordt uitgelegt wat mijn achtergrond is waar ik vandaan kom en wat ik in de toekomst wil!</p>
<p>Ook zal ik hier de uitwerking neerzetten van diverse opdrachten gemaakt voor mijn minor.</p>
